header {
    margin-top: -77px;
    margin-left: -35px;
    margin-right: -35px;
    position: sticky;
    top: 0;
    z-index: 1000;


    background-color:lightgrey
    
}
h1 {
    text-align: center;
    color: white;
    font-size: 60px;
    text-align: center;
    padding-top: 25px;
    
}
h1:active {
    color:burlywood;
    font-size: 81px;
}
  
.news {
    width: 60px;
    height: 60px;
    position: relative;
    left: 780px;
    bottom: 78px;
}
#img {
    width: 570px;
    height: 460px;
}
nav ul  {
    background-color: lightgray;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0%;
    list-style-type: none;
    text-align: center;
    padding-top: -22px;
    padding: -100px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 32px;
}
nav ul li a:hover {
    cursor: pointer;
    color: red;
    border-bottom: 2px red solid;
}
#a {
     text-align: center;
     background-color:wheat;
     padding-bottom: 67px;
}
#q {
     font-size: 100px;
     text-align: center;
}
#q:active {
    color:brown;
    font-size: 150px;
}
#w {
    font-size: 100px;
    text-align: center;
}
#w:active {
    color:brown;
    font-size: 150px;
}
#e {
    font-size: 100px;
    text-align: center;
}
#e:active {
    color:brown
    font-size: 150px;
}
.titlen {
    font-size: 69px;
}
.titlen:active{
    font-size: 80px;
    color: brown;
}
.prag {
    font-size: 32px;
    font-style: italic;
}
.tlt {
    font-size: 25px;
    font-style: inherit;
}
.link {
    color: black;
    font-size: 50px;
    margin-left:100px ;
    margin-top: 100px;
    position:absolute;
    text-align: center;
    text-decoration: none ;

}

.link:hover {
    cursor: pointer;
    color: red;

}

video {
    position: relative;
    text-align: right;
    margin-left: 100px;
}
.x {
    background-color:coral;
    
}
.footer {
    text-align: center;
    font-size: 20px;
    outline-color: black;
}
#logonews {
    padding-left: 580px;
    padding-bottom: -100px;
    
    text-align: center;

    width: 67px;
    height: 67px;
} 
.link:visited {
    color: blue;
}
img {
   transform: rotate(360deg);
}
p {
    text-transform: capitalize;
}